## IMPORTANT
# This file is used to set environment variables.
# Do not commit your real .env file; this .env.example is safe to commit to version control.

# Langfuse Configuration
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

# Service API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
# ...